---
import BaseLayout from '../layout/BaseLayout.astro'
const pageTitle: string = "About Me"
const identity = {
    firstName: 'Rahil',
    country: 'India',
    occupation: 'developer',
    hobbies: ['coding','programming','laying'],
    skills: ['html','css','js','ts','astro']
}
const skillColor: string = 'navy'
const fontWeight: string = 'bold'
const textTransform: string = 'uppercase'
---
<BaseLayout pageTitle={pageTitle}>
        <style define:vars={{skillColor,fontWeight,textTransform}}>
            h1{
                color: purple;
                font-size: 4rem;
            }
            .skill{
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textTransform);
                border: 1px solid pink;
                border-radius: 1rem;
                padding: 0.7rem;
                font-size: 1.2rem;
                cursor: pointer;
            }
            .skill-container{
                display: flex;
                gap: 1rem;
            }
            </style>
            <h1>hello, my name is {identity.firstName}</h1>
            <p>I'm a {identity.occupation} from {identity.country}</p>
            <p>few of my hobbies {identity.hobbies.map(e => (<ul><li>{e}</li></ul>))}</p>
            <h3>my skills are:</h3>
            <div class="skill-container">
                {identity.skills.map(e => (<span class="skill">{e+" "}</span>))}
            </div>
</BaseLayout>




